body{font-family:'Source Sans Pro', Calibri, sans-serif;line-height:14px;background:#e4e9f0 url(pozadi.svg) left top repeat; margin:0px; font-size:11pt; text-align:center;}
#hlavni2{width:1200px; text-align:left; margin:20px auto 20px auto;border-radius:15px; box-shadow:0px 0px 20px #c0cedc; background:#f1f4f7; z-index:-2;}
.inv{background:#262c31 !important; color: white;}
#obsah{padding:20px;font-size:12pt;}
div.spolu {display: inline-block; width: 100%;}

.licence2{background: #6b757f; border-radius: 8px; padding: 5px; margin-top: 20px; margin-bottom: 20px; display:inline-block; box-shadow:0px 0px 20px #c0cedc; color: #c0cedc}

h1,h2,h3,h4{line-height: 1; margin-bottom: 0px; font-weight:600;}
h1{border-bottom: 5px solid #825335; padding-bottom: 3px; display: inline-block;}
h2{border-bottom: 3px solid #825335; padding-bottom: 3px; display: inline-block;}
h3{margin-top: 25px; margin-bottom: 18px;}
img{border:none;}

#obsah p, #obsah ul{line-height: 1.3; text-align: justify;}
#obsah.x p{text-align:left;}
.inv a, .inv a:visited {background: rgba(12,13,15,0.3) !important; color: #e4e9f0;}
#obsah table{margin:auto;}
#obsah table td{padding: 5px; background:rgba(255,255,255,0.3); border-radius:4px;}
#obsah table.vzorce td{padding: 5px;}
li{margin-top:5px; text-align:left;}
.priklad{font-style:italic;}
.obrazek{font-style:italic; margin-top: 0; padding-top:0;}
span.tlacitko {background:#ab9689; border:2px solid #76645a; border-radius:3px; padding: 0; line-height: 1.1; display: inline-block;}
span.kod{font-family: Source Code Pro, Consolas, Courier New;}
.c{text-align:center;}
.b{font-weight:600;}
#obsah a.nic, #obsah a.nic:hover,a.nic, a.nic:hover{background:none;}
#vlevo{float:left; height:600px; background:#f2efee; border-top-left-radius:15px;}
#vpravo{padding:0; float:right; width: 600px; height:600px;}
.pul{padding-left: 15px; padding-bottom: 5px;}

input, textarea, select{font-family:inherit;font-size:inherit}
a{color:#69422a;text-decoration:none;border-radius:5px;}
label{border-radius:4px;}
a:hover, #obsah a:hover, a:visited:hover, #obsah a:visited:hover {background: url(tecky.svg) top left repeat #825335; color: white}
a:visited{color:#21140d}
.round {border-radius: 5px;}

li a.help, li a.help:hover{color:black;background:none !important;}
a.aktivni{font-weight:600;}
#menu{border-radius:15px;box-shadow:0px 0px 20px #c0cedc;background: #a1aeba;width:1170px; margin: 20px auto auto auto; padding:14px; height: 16px;}
/* #pata a,#pata a:hover, #pata a:visited{color: #e3dedb;} */
#menu p{padding:0; margin:0; font-weight:normal; font-size:16pt; margin:0px auto 0px auto; text-transform:uppercase; color:#221e1a;}
#menu a{color:#221e1a; padding:4px; border-radius: 6px;}
#menu a:hover{color:black;}

.dvojradek, #barvyvyb{margin-top:6px; margin-bottom:6px;}
.formvlevo{width:285px; padding:10px; padding-right:5px; float:left;  /* background:green; */ height: 580px;}
.formvpravo{width:285px; padding:10px; padding-left:5px; float:right; /* background:blue; */ height: 580px;}

.tlacitko2{padding:7px; width:586px; height:32px; border-bottom-right-radius:15px;float: right;  background: #917c6f; }
#stahnutiobal{padding:7px; margin:0; width:586px;text-align:center;height:32px; background:none; float:left; background: #917c6f; border-bottom-left-radius: 15px;}

a.help{cursor:help !important;}

.nadpisoddilu{font-size:115%; text-transform:uppercase; margin:2px 0 6px 0; line-height:70%; font-weight: 600;}
.oddil{margin-bottom: 14px;}
.fl {float: left;}
.clear{clear:both;}

div.barvy input[type=radio]:checked + label{border-color:#76645a;}
td, tr, table{padding:0px; margin:0; text-align:left;}
input{padding:1px; margin:1px;}
table input{text-align:left; margin:1px;}
.n{text-align:left;}
.c{text-align:center;}
.al td {text-align:left}
.ac td {text-align:center}
.r td {padding-right: 8px;}
.fl {float:left;}
.fr {float:right;}
a.jazyk:hover {background-color: #d23c58;}
